html{
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: helvetica, sans-serif;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size-adjust:100%;
	background-color:#003f8f;
	color: white;
}

body { overflow-x: hidden; }

*, *::after, *::before {
	-ms-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a { 
	color: #003f8f;     
	text-decoration: none; 
}

a:hover { color: #ffffff; }

h1{ 
	font-size: 32px;
	font-size: 2rem; 
}

h2{ 
	font-size: 28px;
	font-size: 1.75rem; 
}

h3{ 
	font-size: 24px;
	font-size: 1.5rem; 
}

h4{ 
	font-size: 20px;
	font-size: 1.25rem; 
}

h5, a, abbr, b, code, dfn, em, i, li, mark, p, pre, strong { 
	font-size: 16px;
	font-size: 1rem; 
}

h6, small{ 
	font-size: 12px;
	font-size: .75rem; 
}

li{
	margin-left: 16px;
	margin-left: 1rem;
	list-style-type: inherit;
	list-style-position: inside;
}

abbr, dfn, em, i { font-style: italic; }

b, strong { font-weight: bold; }

code, pre { font-family: monospace; }

mark { background-color: yellow; }

hr { 
	margin: 16px auto;
	margin: 1rem auto;
	width: 100%;
	border: thin solid #ccc;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

table { border-collapse: collapse; }

audio, canvas, img, iframe, picture, progress, svg, video {
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	max-width: 100%;
	height: auto;
}

button, input, optgroup, option, select, textarea {
	padding: 4px;
	padding: .25rem;
	font-family: inherit;
	font-size: 16px;
	font-size: 1rem;
	border: thin solid #ccc;
} 

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="checkbox"], input[type="radio"], select { cursor: pointer; }

input[type="text"], input[type="number"], input[type="file"], select { 
	border-radius:7px; 
	border:solid 1px #003f8f;
	height: 2.75rem;
	font-family: roboto-regular;
	}

input[type="file"] { 
	border-radius:7px; 
	border:solid 1px #003f8f;
	height: 2.75rem;
	font-family: roboto-regular;
	background-color: white;
	cursor: pointer;
	}

*[disabled] {
	cursor: default;
	color:#999;
	background-color: #DDD;
}

textarea { resize: none; }

::-moz-selection{
	color: #FFF;
	background-color: #CCC;
}

::selection {
	color: #FFF;
	background-color: #CCC;
}



